# Ignore local customizations
home/
env/local.env
initializers/
netbox-demo-data/

# Keep structure files
!home/.config/.gitkeep
!home/.claude/.gitkeep

# Keep fish shell config
!home/.config/fish/
!home/.config/fish/**

# Keep omf config
!home/.config/omf/
!home/.config/omf/**
